body {
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  height: 55px;
  font-size: 13px;
  
  width: 100%;
  background-color:#F55A5A;
  padding: 15px 20px;
  color: aliceblue;
}
.logo {
  height: 35px;
   
}
.card-pics {
  height: 168px;
  width: 125px;
  top: 100px;
  left: 40px;
  border-radius: 5px;
  margin-top: 50px;

}

.card-data {
  display: flex;
  flex-direction: column;
  
  
}
